.container {
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #24ff48;
}
.pages {
    width: 500px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item {
    color: #0015ff;
    font-size: large;
    text-decoration: none;
}
.active {
    color: rgb(255, 106, 0);
    text-decoration: none;
    font-size: large;
}
